# Préparation de la seconde table sur les caractéristiques démographiques

In [1]:
import os 
import pandas as pd

In [2]:
# Declaration des constantes
DATA_DIR = '../data/external/'
CITIES_FILENAME = 'base-cc-filosofi-2015.xls'
PROCESSED_DIR = '../data/processed/'
COMMUNES_DIR = 'PS_communes.csv'

In [3]:
filo_df = pd.read_excel(os.path.join(DATA_DIR,CITIES_FILENAME), skiprows=5)

In [4]:
filo_df.NBPERSMENFISC15.isnull().sum()

3596

10% du fichier ne porte pas d'effectif de population

In [5]:
filo_df.shape

(35848, 29)

In [6]:
filo_df.head()

,CODGEO,LIBGEO,NBMENFISC15,NBPERSMENFISC15,MED15,PIMP15,TP6015,TP60AGE115,TP60AGE215,TP60AGE315,...,PPEN15,PPAT15,PPSOC15,PPFAM15,PPMINI15,PPLOGT15,PIMPOT15,D115,D915,RD15
0,01001,L'Abergement-Clémenciat,308.0,801.0,22228.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01002,L'Abergement-de-Varey,100.0,245.5,22883.333333,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01004,Ambérieu-en-Bugey,6216.0,13917.0,19735.200000,53.312962,17.227132,19.058154,20.856552,22.513401,...,26.9,9.5,6.7,2.7,2.0,2.0,-15.8,10398.571429,33801.2,3.250562
3,01005,Ambérieux-en-Dombes,624.0,1671.5,23182.666667,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01006,Ambléon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
filo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35848 entries, 0 to 35847
Data columns (total 29 columns):
CODGEO             35848 non-null object
LIBGEO             35848 non-null object
NBMENFISC15        32252 non-null float64
NBPERSMENFISC15    32252 non-null float64
MED15              32252 non-null float64
PIMP15             5261 non-null float64
TP6015             4393 non-null float64
TP60AGE115         804 non-null float64
TP60AGE215         1442 non-null float64
TP60AGE315         1875 non-null float64
TP60AGE415         1299 non-null float64
TP60AGE515         854 non-null float64
TP60AGE615         382 non-null float64
TP60TOL115         2153 non-null float64
TP60TOL215         3200 non-null float64
PACT15             5257 non-null float64
PTSA15             5257 non-null float64
PCHO15             5257 non-null float64
PBEN15             5257 non-null float64
PPEN15             5257 non-null float64
PPAT15             5257 non-null float64
PPSOC15            5257 non-null float64
PPFAM15            5257 non-null float64
PPMINI15           5257 non-null float64
PPLOGT15           5257 non-null float64
PIMPOT15           5257 non-null float64
D115               5257 non-null float64
D915               5257 non-null float64
RD15               5257 non-null float64
dtypes: float64(27), object(2)
memory usage: 7.9+ MB

## Importation de la table des communes

In [8]:
communes_df = pd.read_csv(os.path.join(PROCESSED_DIR,COMMUNES_DIR),
                          sep =';',
                         dtype = {'codecommuneetablissement' : str})

# Deuxième méthode si le code commune n'était pas en str dès l'importation de départ
communes_df['codecommuneetablissement'] = communes_df['codecommuneetablissement'].str.replace('\.0', '')
b = '0'
for i in range(len(communes_df)):
    if len(communes_df['codecommuneetablissement'][i]) == 4:
         communes_df['codecommuneetablissement'][i] = b + communes_df['codecommuneetablissement'][i]

## Merge des deux tables par code commune

In [9]:
final_df = (communes_df.merge(filo_df, left_on = 'codecommuneetablissement', right_on = 'CODGEO', how= 'outer', indicator = True)
            .fillna(value = { c: 0 for c in communes_df.columns if c != 'codecommuneetablissement'} )
           )

In [10]:
final_df._merge.value_counts()

both          18721
right_only    17127
left_only      1757
Name: _merge, dtype: int64

In [40]:
final_df.to_csv('../data/external/Analyse_df.csv', encoding = 'utf-8', sep = ',', index = False)

In [12]:
communes_df.head()

,codecommuneetablissement,ambulance,analyse_medicale,autre,autre_specialiste,chirurgien,dentiste,generaliste,hopital,infirmiers,organe,radiologue,reeducateur_podologue
0,1001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1002,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1004,1.0,4.0,21.0,35.0,9.0,15.0,25.0,8.0,32.0,0.0,5.0,36.0
3,1005,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,5.0
4,1007,0.0,0.0,3.0,0.0,0.0,0.0,5.0,0.0,4.0,0.0,0.0,3.0